<%- include('include/header.ejs')  %>
<body>
    <!-- <%- include('include/nav-bar.ejs')  %> -->
    <form method="POST" action="/login">
        <input type="text" placeholder="Enter Your Name" name="userName">
        <input type="password" placeholder="Enter Your password" name="password">
        <button type="submit">Login</button></form>
</body>
</html>