<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket IO</title>
</head>
<body>
    <h1>SOCKET IO</h1>

    <input type="text" placeholder="Enter Your MSG" id="msg">
    <button onclick = sendMsg()>Send</button>

    <p id="data"></p>


    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script>
        const socket = io("http://localhost:3000/");
        socket.on('connection');

        socket.on('message', data => {
            document.getElementById('data').innerHTML = data;
        });


        function sendMsg() {
            const data = document.getElementById('msg').value;
            // console.log(data);
            socket.emit('message', data);
        }
    </script>
</body>
</html>