<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/create">Create User</a></li>
    <% if(loggedIn) { %>
        <li><a href="/login">Logout</li>
     <% } else { %>
        <li><a href="/login">Login</li>
     <% }  %>
</ul>